/*
CSS : Cascading Style Sheet ou feuille de style en cascade

Cascade : ce qui est déclaré dans une balise qui contient d'autre balises, est appliqué à la balise et par défaut à toutes les balises qu'elle contient.

Pour appliquer du style CSS à une partie de la page, il faut : 
- désigner la partie en utlisant un sélecteur CSS
- décrire la ou les propriétés CSS et leur configuration

selecteur{
    propriété: valeur(s);
    propriété: valeur(s);
}

Unités de tailles en CSS

Unités les plus souvent utilisées en web

px      =>  pixel il est possible de mesure avec des virgule, 23.8px)
em      =>  cadratin. Historiquement unité de mesure en print sur les presses.
            Le cadratin se calcul par rapport à la taille du parent
rem     =>  cadratin racine, lui se calculera toujours depuis la taille racine du cadratin, 
            - soit celle du navigateur 
            - soit celle surchargée dans le :root
%       =>  La taille définie en % se calcule par rapport à l'espace disponible autour de l'élément définie en %
vw & vh =>  vw : viewport width (largeur de la surface d'affichage du site)
            vh : viewport height ( hauteur d'affichage du site)
            50vh => 50% de la taille d'affichage du site
            si la largeur d'affichage du site 360px (100vw)
            50vw = 180px

sélecteur CSS :
    ATTENTION : en CSS, on impacte tous les éléments correspondants aux sélecteurs écrits
    
    sélecteurs simples : balise, identifiant et par classe
        p                   => tous les éléments p rencontrés dans le document
                            pas de caractère spécial devant l'élément donc il s'agit d'une balise
        #special            => l'élément ayant comme attribut id="special"
                            le caractère # indique qu'on se réfère à l'id
                            #Les-balises-de-contenu-texte{}
                            => les id sont uniques dans la page
        .titreDeChapitre    => les éléments ayant au moins la class="titreDeChapitre" 
                            le caractère . indique qu'on se réfère à une classe
                            => ATTENTION : si un élément class="titreDeChapitre toto tata" comme il possède au moins
                            la classe titreDeChapitre alors il sera trouvé
    Sélecteur avancés : selon les attributs                                  
        [data-test]                     => les éléments ayant au moins un attribut nommé data-test
                                        <span data-test="tata"></span>
                                        <span data-test="toto"></span>
                                        => les deux sont impacté, on ne recherche que l'attribut
        [alt]                           => les éléments ayant au moins un attribut alt
        [data-test="toto"]              => les éléments ayant au moins un attribut nommé data-test="toto"
                                        <span data-test="tata"></span> => ça ne marche pas, la valeur de test est tata
                                        <span data-test="toto"></span> => ça fonctionne car la valeur de test et toto
                                        seul l'élément dont l'attribut data-test est égal à toto sera impacté
        [data-col][data-line]           => les éléments ayant au moins un attribut data-col ET un attribut data-line
        [data-col="3"][data-line]       => les éléments ayant au moins un attribut data-col="3" ET un attribut data-line
        [data-col][data-line="2"]       => les éléments ayant au moins un attribut data-col ET un attribut data-line="2"
        [data-col="3"][data-line="2"]   => les éléments ayant au moins un attribut data-col="3" ET un attribut data-line="2"

    Sélecteur avancés : mélange des sélecteurs simples et ou de sélecteurs avancés

        h3.titreDeChapitre  => tous les titre h3 ayant la classe titreDeChapitre <h3 class="titreDeChapitre"></h3>
                            si l'élément et la classe sont collés, c'est que l'élément doit avoir au moins cette classe
        article #special    => un élément avec id="special" enfant direct OU indirect d'un élément article
                            si l'élément et l'id recherché sont séparés, cela indique une filiation directe ou indirecte
                            <article>
                                <div>
                                    <div id="special"></div>
                                </div>
                            </article>

                            <article>
                                <div id="special"></div>
                            </article>

                            <article>
                                <div>
                                    <div>
                                        <div id="special"></div>
                                    </div>
                                </div>
                            </article>

        article > p            => tous les éléments p enfants directs d'un élément article
                            le chevron fermant > entre les deux éléments indique une filiation directe.
                            <article>
                                <p>P est lenfant direct de article, ça marche</p>
                            </article>

                            /!\ ça ne marche pas : 
                            <article>
                                <div>
                                    <p>p a au moins une balise entre lui et article : ça ne marche pas</p>
                                </div>
                            </article>
        p#special           => un élément p avec id="special"
        .toto.tata          => un élément ayant au moins les deux classes suivantes toto et tata
        .toto .tata         => un élément ayant au moins la classe tata enfant direct ou indirect d'un élément ayant au moins la classe toto
    
    
    Pseudo sélecteurs (sélécteur qui permet des "tri" ou des "filtres" sur des sélecteurs )

        p:nth-of-type(odd)  => tous les paragraphes du document en position impaire
                            nth-child() le(s) nième(s) enfant(s)
                            les paramètres : 
                                odd => impaire - event => paire, Xn => tous les X enfants , Y => le Yème
                                Xn + Y, si X == 2 et Y == 1 ==> 2n+1

        article:last-child:nth-of-type(4n+3)    => l'article doit être le dernier article et le troisième article d'une ligne de 4
                                                paramètres :    4n => le nombre d'élément par ligne
                                                                +3 => le troisième de la ligne

*/

/* 
il est possible d'importer d'autres feuillets CSS à l'interieur d'un feuillet css 
l'importation peut se faire après du commentaire MAIS AVANT TOUTES DÉCLARATIONS CSS
*/

@import url('./bootstrap-icons.css');

/* Déclarations CSS générales */

:root {
  font-family: Arial, Helvetica, sans-serif;
  --line-height: 1.8rem;
  --font-size: 1.1rem;
  font-size: var(--font-size);
  line-height: var(--line-height);
  --gutter-x: 0.5rem;
  --gutter-y: var(--gutter-x);
  --general-border-color: #333;
  --site-bg-color: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1{
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img, video{
    max-width: 100%;
}

details{
  border: 1px solid var(--general-border-color);
  border-radius: var(--gutter-x);
  padding: var(--gutter-x);
}

details > summary{
  cursor: pointer;
  margin: -0.5em -0.5em 0;
  padding: var(--gutter-x);
}

details[open] summary{
  border-bottom: 1px solid var(--general-border-color);
}

form#form-contact{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

form#form-contact fieldset{
  border: 1px solid var(--general-border-color);
  border-radius: var(--gutter-x);
  /*box-shadow: 0px 0px 3px var(--general-border-color);*/
  margin-bottom: var(--gutter-x);
}

form#form-contact fieldset legend{
  background-color: var(--site-bg-color);
  height: 1.3rem;
  line-height: 1.3rem;
  border-radius: var(--gutter-x);
  border: 1px solid var(--general-border-color);
  /*box-shadow: 0px 0px 3px var(--general-border-color);*/
  padding-left: 1rem;
  padding-right: 1rem;
}

form#form-contact label{
  width: 30%;
  display: inline-block;
}

form#form-contact .form-check-radio label{
  width: unset;
}

form#form-contact input[type="text"],
form#form-contact input[type="email"],
form#form-contact select{
  width: 68%;
  line-height: var(--line-height);
  font-size: var(--font-size);
  padding: 0 var(--gutter-x);
  border-radius: calc(var(--gutter-x) / 2);
}

form#form-contact select{
  height: var(--line-height);
}

form#form-contact textarea{
  border: 1px solid var(--general-border-color);
}

/* Déclaration de classes */

.deuxEm {
  font-size: 2em;
}

.deuxRem {
  font-size: 2rem;
}

.content-box {
  box-sizing: content-box;
  width: 200px;
  border: 6px double black;
  padding: 1rem;
}

.border-box {
  box-sizing: border-box;
  width: 200px;
  border: 6px double black;
  padding: 1rem;
}

.go-top{
    font-size: 2rem;
    opacity: 0.5;
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
}

.h1{
    display: block;
    font-size: 2rem;
    font-weight: bold;
}

.video-16-9{
    position:relative;
    padding-bottom:56.25%;
    height:0;
    overflow:hidden;
}

.video-16-9 > *{
    width:100%; 
    height:100%; 
    position:absolute; 
    left:0px; 
    top:0px; 
    overflow:hidden; 
    border:none;
}

/* Déclaration de structure */

body > header,
body > nav,
body > main,
body > footer {
  width: 100%;
  padding-left: var(--gutter-x);
  padding-right: var(--gutter-x);
  margin-left: auto;
  margin-right: auto;
}

/* Déclarations adaptatives */
@media (min-width: 576px) {
  body > header,
  body > nav,
  body > main,
  body > footer {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  body > header,
  body > nav,
  body > main,
  body > footer {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  body > header,
  body > nav,
  body > main,
  body > footer {
    max-width: 960px;
  }

  main section{
    display: flex;
    flex-wrap: wrap;
  }

  main section > *{
    width: 100%;
  }

  main section > article{
    margin: var(--gutter-x);
    width: calc(50% - (2 * var(--gutter-x)));
  }
}
@media (min-width: 1200px) {
  body > header,
  body > nav,
  body > main,
  body > footer {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  body > header,
  body > nav,
  body > main,
  body > footer {
    max-width: 1320px;
  }

  main section > article{
    width: calc(33% - (2 * var(--gutter-x)));
  }
}
